<form data-id="id" class="item form-inline border border-dark rounded" role="form" style="padding: 1%;margin: 1%;">
      <label class="sr-only" for="image">CDPicture</label>
      <img src="" id="image">
      <input type="hidden" name="productId" data-value="productId">

      <label class="sr-only" for="cdName">CDName</label>
      <input type="text" readonly class="form-control-plaintext" name="cdName" data-value="cdName">

      <label class="mr-sm-2" for="unitPrice">$</label>
      <input type="text" readonly class="form-control-plaintext" data-value="unitPrice" name="unitPrice">

      <label class="sr-only" for="quantity">quantity</label>
      <input type="number" class="form-control" name="quantity" style="margin-right: 3%" min="0" data-value="quantity">

      <label class="mr-sm-2" for="totalPrice">$</label>
      <input type="text" readonly class="form-control-plaintext" data-value="totalPrice" name="totalPrice">
      
      <button type="button" class="btn btn-danger">Delete</button>
</form>